<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Les Mangas</title>
</head>

<body>
    <h1 class="title"></h1>Connecté: {{user.NAME}}</h1>
    <form action="/logout">
        <button name="LogoutBTN" type="submit">Déconnexion</button>
    </form>
    <h3 class="title">{{book.NOMLIVRE}}</h3>
    <h1>Auteur : {{book.NOMAUTEUR}} {{book.PRENOMAUTEUR}}</h1>

    <form action="/">
        <button name="backBTN" type="submit">Retour</button>
    </form>
</body>

</html>