<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Les Mangas</title>
</head>

<body>
    

    <table>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Genre</th>

        </tr>


        {% for book in books %}
        <tr>
            <td>{{book.NOMLIVRE}}</td> 
            <td>{{book.NOMAUTEUR }}</td>
            <td>{{book.LIBELLE}}</td>
        </tr>
        {% endfor %}
    </table>
    
        <br>
    
</body>

</html>


